<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="MyApp">
	<h1 style="font-size: 40px; color: green;">Index.ejs text</h1>

	<a href="/testing">Go to /testing </a>
	
	<script src="/javascripts/app.js"></script>
    <script src="/javascripts/MainController.js"></script>
    <script src="/javascripts/RouteProvider.js"></script>
    <script src="/javascripts/Service.js"></script>
</body>

</html>